@model IEnumerable<MVC5Course.Models.Client>

@using PagedList
@using PagedList.Mvc

@{
   var data = Model as IPagedList;
}

@{
   ViewBag.Title = "Index";

   var commonAjaxOptions = new AjaxOptions { UpdateTargetId = "Detail", LoadingElementId = "loading", OnSuccess = "ajaxSuccess" };
}

<h2>Index</h2>

<p>
   @* @Html.ActionLink("Create New", "Create")*@

   @Ajax.ActionLink("Create New", "Create", commonAjaxOptions)
</p>

@Html.PagedListPager(list: data, generatePageUrl: p => Url.Action("Index", new { pageNo = p }))

<table class="table">
   <tr>
      <th>
         @Html.DisplayNameFor(model => model.FirstName)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.MiddleName)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.LastName)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.Gender)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.DateOfBirth)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.CreditRating)
      </th>
   </tr>

   @foreach (var item in Model) {
      <tr>
         <td>
            @Html.DisplayFor(modelItem => item.FirstName)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.LastName)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.Gender)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.CreditRating)
         </td>
         <td>
            @Ajax.ActionLink("Edit", "Edit", new { id = item.ClientId }, commonAjaxOptions) |
            @Ajax.ActionLink("Details", "Details", new { id = item.ClientId }, commonAjaxOptions) |
            @Ajax.ActionLink("Delete", "Delete", new { id = item.ClientId }, commonAjaxOptions)
         </td>
      </tr>
   }

</table>

@Html.PagedListPager(list: data, generatePageUrl: p => Url.Action("Index", new { pageNo = p}))

<div id="Detail"></div>
